<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>컴공 독강러를 위한 길라잡이 | 게시판</title>
    <link rel="stylesheet" href="/css/postboard.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR|Song+Myung&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1|Nanum+Myeongjo&display=swap" rel="stylesheet">

</head>
<body>
<header>
    <div class="top-menu">
        {{#userName}}
            Logged in as: <span id="user">{{userName}}</span>
            <a href="/logout" class="logout" role="button">Logout</a>
        {{/userName}}
        {{^userName}}
            <a href="/oauth2/authorization/google" class="logout" role="button">Google Login</a>
            <a href="/oauth2/authorization/naver" class="logout" role="button">Naver Login</a>
        {{/userName}}

    </div>
    <div class="top-wrap">
        <a class="logo"><img src="/images/reading.png" alt="mainlogo"></a>
    </div>

</header>

<section>
    <div class="welcom">
        <h1><strong>컴퓨터공학부</strong> 게시판</h1>
    </div>

    <div class="card">
        <h2>
            <a href="./">게시판</a>
        </h2>



        <table class="table ">

            <tr>

                <th>작성자</th>
                <th>내용</th>
                <th>최종수정일</th>

            </tr>

            <tbody id="tbody">
            {{#comment}}
                <tr>

                    <td>{{author}}</td>
                    <td><a href="/comment/update/{{id}}">{{content}}</a></td>
                    <td>{{modifiedDate}}</td>


                </tr>
            {{/comment}}
            </tbody>
        </table>

    </div>

</section>
</body>
</html>